.*.swp
.vagrant
.DS_Store
*~
tmp/*
files/mongodb-demo/site.retry
files/mongodb-alt/site.retry
files/lamp_simple_rhel7-demo/site.retry
files/tomcat-standalone-demo/site.retry
files/wordpress-nginx_rhel7-demo/site.retry
